{% extends 'base.html' %}

{% block title %}
Contact us
{% endblock %}

{% block content %}
<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus reiciendis distinctio est, ipsa molestiae, consequuntur mollitia voluptas error, corporis sapiente sit a saepe libero iure amet nemo quo illum.</h2>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odio sit nostrum corporis quas. Harum reprehenderit suscipit voluptatem soluta! Animi est sed obcaecati eius vitae iste quis. Fugiat, dolor quos. Minus nesciunt, quas aspernatur repellat earum vel, modi laborum exercitationem illum iusto et eveniet cumque perferendis quia perspiciatis inventore voluptatibus.</h2>