body {
    background-color: gainsboro;
    color:black;
    font-family:monospace;
}

.dark-mode{
    background-color: lightslategray;
    color:gainsboro;
    font-family: monospace;

}
img {
    width:400px;
    height:auto;
}   